node_modules/
.expo/
dist/
.env
.env.local
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.tsbuildinfo

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
